 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Core Banking Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="topnav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="!isUserAuthorized()">
          <a class="nav-link" [routerLink]='["/Login"]' >User Login</a>
        </li>
        <li class="nav-item" *ngIf="!isUserAuthorized()">
          <a class="nav-link" [routerLink]='["/Admin"]' >Admin Login</a>
        </li>
        <li class="topnav-right" *ngIf="isUserAuthorized()">
          <button class="btn btn-primary" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet class="outlet"></router-outlet>
<footer>
  <nav class="navbar navbar-light bg-white mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      Developed by <b>Suyash & Ujjay</b>
    </div>
  </nav>
</footer>
